
body {
  width: 350px;
  margin: 0;
  background-color: rgba(32, 33, 36, 1);
  color: rgba(155, 160, 165, 1);
} 

.content-wrap{
  position: relative;
}
.operate-area{
  position: absolute;
  right: 0;
  top: 0;
}
#translate{
  cursor: pointer;
}
.text-input{
  width: 60px;
  background-color: rgba(32, 33, 36, 1);
  color: rgba(155, 160, 165, 1);
}
input:focus{
  color: rgba(155, 160, 165, 1);
}
.btnArea{
  background-color: rgba(32, 33, 36, 1);
  color: rgba(155, 160, 165, 1);
  cursor: pointer;
}